body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    padding-bottom: 60px; /* chừa khoảng trống để không bị footer che */
}

/* Header */
header {
    background-color: #fb2f2f;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative; /* để menu có thể căn giữa */
}

/* Tiêu đề bên trái */
header h1 {
    margin: 0;
}

/* Menu căn giữa */
nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

/* Footer cố định */
footer {
    background-color: #fb2f2f;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Menu */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}
/* Danh sách sản phẩm*/
.product-list {
    flex-wrap: wrap;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
     padding: 20px;   
}
/* Card sản phẩm*/
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}
/* Hình ảnh sản phẩm */
.card img {
    width: 100%;         /* Chiếm toàn bộ chiều ngang card */
    max-width: 250px;    /* Giới hạn kích thước tối đa */
    height: auto;        /* Tự co theo tỷ lệ */
    border-radius: 10px;
    margin: 0 auto 10px; /* Căn giữa ảnh */
    display: block;
}
/* Tên sản phẩm */
.card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
/* Giá sản phẩm */
.price{
    font-size: 16px;
    color: #e63946;
    font-weight: bold;
}
/* Nút mua ngay */
.card button {
    padding: 10px 15px;
    border: none;
    background: #fb2f2f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.card button:hover {
    background: #e63946;
}
/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    nav {
        position: static;
        transform: none;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 10px 0;
    }
}
